html{
	scroll-behavior: smooth;
}

body{
	min-width: 290px;
	color: #0000ff;
	background-color: #000000;
	font-family: Lato, sans-serif;
	line-height: 1.5;
}
.main-section{
	border-top: 2px solid #ff00ff;
	margin-top: 50px;
}
#navbar{
	position: fixed;
	min-width: 290px;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 100%;
	border-right: solid;
	border-color: #000000;
	text-align: center;

}
.nav-link{
	transition: transform 0.3s ease-out;
}
header{
	color: #ff00ff;
	text-align: left;
	font-size: 30px;	
	font-weight: thin;

}

#navbar >header{
	text-align: center;
}

#main-doc {
	text-align: left;
	margin: 0px;
	position: absolute;
	margin-left: 310px;
	padding:20px;
	margin-bottom: 110px;
}

#navbar ul{
	height: 100%;
	padding:0px;
	overflow: auto;
	overflow: hidden;
	background-color: #000000;
}

@media(max-width: 650px){
	#navbar ul{
		overflow:scroll;
	}
}

#navbar li{
	color: #ffffff;
	list-style: none;
	position: relative;
	width:100%;
}

#navbar a{
	display: block;
	padding: 10px 30px;
	color: #ff00dd;
	text-decoration: none;
	cursor: pointer;
}

#navbar a:hover{
	color: #ffffff;
}


p, li{
	color: #ffffff;
}

section article{
	color: #ffffff;
	margin: 15px;
	font-size: 0.96em;
}

section li{
	margin: 15px 0px 0px 20px;
}

code{
	display: block;
	text-align: left;
	white-space: pre;
	position: relative;
	word-break: normal;
	word-wrap: normal;
	line-height: 2;
	background-color: #ffdddd;
	padding: 20px 15px 20px 15px;
	margin: 10px;
	border-radius: 5px;
}

@media only screen and (max-width: 815px){
	#navbar ul{
		border: 1px solid;
		height: 208px;
	}


	#navbar{
		background-color: #ffffff;
		position: absolute;
		top: 0;
		padding: 0;
		margin: 0;
		width:100%;
		max-height: 275px;
		border: none;
		z-index: 1;
		border-bottom: 2px solid;
	}

	#main-doc{
		position: relative;
		margin-left: 0px;
		margin-top: 270px;
	}
}

@media only screen and (max-width: 400px){
	#main-doc{
		margin-left: -10px;
	}

	code{
		margin-left: -20px;
		width: 100%;
		padding: 15px;
		padding-left: 10px;
		padding-right: 45px;
		min-width: 233px;
	}
}

footer{
	color: #ffffff;
}
